<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.mikasa.music">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".util.MusicApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".receiver.PlayerManagerReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.MusicPlayerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.ScanActivity" />
        <activity android:name=".activity.LocalMusicActivity" />
        <activity android:name=".activity.PlayActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.RecentMusicActivity" />
        <activity android:name=".activity.FavorMusicActivity"></activity>
    </application>

</manifest>